.menuContainer {

}

.menuList {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menuItem {
    text-transform: uppercase;
    font-size: 20px;
}

.menuLink {
    display: block;
    color: #0f101b;
    padding: 40px;
}

.menuLinkActive {
    color: #1677ff;
}