.menuContainer {

}

.menuList {
    list-style: none;
}

.menuItem {
    text-transform: uppercase;
    font-size: 16px;
}

.menuLink {
    display: block;
    color: #0f101b;
    padding: 5px 0px;
}

.menuLinkActive {
    color: #1677ff;
}