.headerContainer {
    padding: 20px;
    background: linear-gradient(90deg, #1e0d35, #0f101b);
}

.headerContent {
    max-width: 1440px;
    margin: 0 auto;
}

.avatar img {
    border-radius: 50%;
    overflow: hidden;
    max-width: 50px;
}

.userName {
    color: #fff;
}
