.headerContainer {
    padding: 20px;
    background-color: #001529;
}

.headerContent {
    max-width: 1440px;
    margin: 0 auto;
}

.avatar img {
    border-radius: 50%;
    overflow: hidden;
    max-width: 50px;
}

.userName {
    color: #fff;
}
