.postsContainer {
    width: 100%;
}

.postContainer {
    border-radius: 10px;
    padding: 10px 20px;
    background: -webkit-linear-gradient(90deg, #1e0d35,#0f101b);
    background: linear-gradient(90deg, #1e0d35,#0f101b);
    color: white;
    margin-bottom: 10px;
    width: 100%;
}

.postContainer img {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.postsTitle {
    font-weight: bold;
    font-size: 30px;
}

.postContent {
    height: 100%;
    margin-left: 20px;
}

.postLikes {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.postsForm {
    margin-top: 30px;
}