.row {
    width: 100%;
    border-bottom: 1px solid rgba(0,21,41,0.2);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profileInfoContainer {
    line-height: 2em;
    color: #001529;
}

.profileInfoName {
    font-weight: bold;
    color: #1677ff;
    font-size: 30px;
}

.subtitle h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.subtitle label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}


.profileIcon {
    font-size: 20px;
}

.profileEdit span{
    cursor: pointer;
    transition: color 0.3s ease-in-out 0s;
    font-size: 18px;
    color: rgba(0,21,41,0.7);
    display: flex;
    align-items: center;
}

.profileEdit span:hover {
    color: #1677ff;
}